@charset "UTF-8";
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
:root {
  --white: #fff;
}

html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  min-width: 360px;
  background: #F6F6F6;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.lineClamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 73px;
  background-color: #fff;
  border-bottom: 1px solid #ECECEC;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
}
.header .home {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}
.header .name {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.36px;
}
.header .login {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}

.section {
  padding-top: 73px;
}

.panel-option {
  width: 300px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 73px;
  left: 0;
  height: calc(100% - 73px);
  overflow: auto;
}
.panel-option .top {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
  display: flex;
  padding: 28px 30px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.panel-option .top .choose {
  color: #4C79F4;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  display: inline-flex;
  height: 40px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 999px;
  border: 1px solid #4C79F4;
}
.panel-option .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}
.panel-option .nav .groupName {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  background: #F6F6F6;
}
.panel-option .nav .accordion {
  width: 100%;
}
.panel-option .nav .accordion .checkbox {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #000 url(../img/ic_checkbox_ac.svg) center no-repeat;
  border: 1px solid #000;
}
.panel-option .nav .accordion .collapsed .checkbox {
  background: #fff;
}
.panel-option .nav .accordion .accordion-button::after {
  display: none;
}
.panel-option .nav .list {
  width: 100%;
}
.panel-option .nav .nav-link {
  text-align: left;
  position: relative;
  padding-block: 0;
  padding-inline: 51px 20px;
  width: 100%;
  height: 52px;
}
.panel-option .nav .nav-link.complate .status {
  background: #D5F1E8 url(../img/ic_step_check.svg) center no-repeat;
  border: 0;
}
.panel-option .nav .nav-link.complate .value {
  display: block;
}
.panel-option .nav .nav-link:hover {
  background: linear-gradient(90deg, rgba(76, 121, 244, 0) 0%, rgba(76, 121, 244, 0.1) 100%);
}
.panel-option .nav .nav-link.active {
  background: linear-gradient(90deg, rgba(76, 121, 244, 0) 0%, rgba(76, 121, 244, 0.25) 100%);
  border-right: 2px solid #4C79F4;
}
.panel-option .nav .nav-link::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #ECECEC;
  position: absolute;
  top: 0;
  left: 29px;
}
.panel-option .nav .nav-link .status {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background-color: #fff;
  border: 8px solid #ECECEC;
}
.panel-option .nav .nav-link .name {
  color: #000;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.panel-option .nav .nav-link .value {
  display: none;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.26px;
}

.body .tab-content {
  padding: 0 378px 0 300px;
  width: 100%;
}
.body .tab-pane {
  padding: 40px 20px;
  width: 100%;
}

.inputBx {
  display: flex;
  gap: 8px;
}

.inputMsg {
  color: #F00;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.26px;
  margin-top: 8px;
}

.input {
  min-width: 20px;
  border-radius: 4px;
  border: 1px solid #ECECEC;
  background: #FFF;
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  display: inline-flex;
  height: 40px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
.input::placeholder {
  color: #CCC;
}
.input:focus {
  border-color: #4C79F4;
}

.btn-line {
  border-radius: 4px;
  border: 1px solid #000;
  background: #FFF;
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
  height: 40px;
}

.btn-black {
  display: flex;
  height: 40px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #000;
  color: #FFF;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
}

.panel-quote {
  max-width: 378px;
  width: 100%;
  position: fixed;
  top: 73px;
  right: 0;
  height: calc(100% - 73px);
  padding-bottom: 146px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}
.panel-quote .contents {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 30px 20px;
  overflow: auto;
}
.panel-quote .group .btn-line {
  width: 72px;
}
.panel-quote .input-label {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.26px;
  margin-bottom: 13px;
}
.panel-quote .input-label strong {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}
.panel-quote .shipping {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  background: #F6F6F6;
}
.panel-quote .shipping .est {
  color: rgba(0, 0, 0, 0.4);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.26px;
  margin-bottom: 4px;
}
.panel-quote .shipping .date {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}
.panel-quote .shipping .divider {
  width: 100%;
  height: 1px;
  background: #CFCFCF;
  margin: 16px 0;
}
.panel-quote .shipping .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 10px;
}
.panel-quote .shipping .key {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}
.panel-quote .shipping .value {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.28px;
}
.panel-quote .shipping .sum {
  margin-bottom: 14px;
}
.panel-quote .shipping .sum .price {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}
.panel-quote .shipping .sum .value {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}
.panel-quote .shipping .info {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
}
.panel-quote .shipping .info .ic-check {
  color: #1BD396;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
}
.panel-quote .radioGroup li + li {
  margin-top: 20px;
}
.panel-quote .split-shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.panel-quote .split-shipping .split {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.panel-quote .split-shipping .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  flex: 1 0 0;
}
.panel-quote .split-shipping .input-label,
.panel-quote .split-shipping .inputMsg {
  margin: 0;
}
.panel-quote .split-shipping .price {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}
.panel-quote .split-shipping .btn-line {
  width: 100%;
}
.panel-quote .paymentInfo {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
}
.panel-quote .paymentInfo strong {
  font-weight: 700;
}
.panel-quote .viewSummary {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
}
.panel-quote .viewSummary.ac {
  color: #4C79F4;
}
.panel-quote .TOTAL {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-top: 1px solid #ECECEC;
  background: #FFF;
}
.panel-quote .TOTAL .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.panel-quote .TOTAL .key {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}
.panel-quote .TOTAL .total-price {
  display: flex;
  align-items: center;
  gap: 4px;
}
.panel-quote .TOTAL .total-price em {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.52px;
}
.panel-quote .TOTAL .total-price .value {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

.CTA {
  display: flex;
  width: 100%;
  height: 52px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  background: #000;
  border: 0;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  color: #F6F6F6;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  transition: 0.2s ease-in-out;
}
.CTA:hover {
  background: #000;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.4);
}
.CTA:disabled {
  background: #D2D4D7;
  color: #ADADAD;
  box-shadow: none;
  border: 0;
}

.radio {
  display: flex;
  align-items: center;
  gap: 8px;
}
.radio input {
  display: none;
}
.radio i {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
}
.radio :checked + i {
  border-width: 8px;
}
.radio .key {
  color: rgba(0, 0, 0, 0.7);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 18.2px */
  letter-spacing: -0.26px;
  flex: 1 0 0;
}
.radio .value {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.commandFooter {
  position: fixed;
  bottom: 0;
  left: 300px;
  right: 378px;
  display: flex;
  padding: 18px 20px;
  justify-content: space-between;
  align-items: center;
  background: rgba(234, 236, 238, 0.9);
  backdrop-filter: blur(4px);
  gap: 7px;
}
.commandFooter .prev {
  flex: 1 0 0;
  display: flex;
  max-width: 120px;
  height: 40px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  border-radius: 999px;
  border: 1px solid #000;
}
.commandFooter .next {
  flex: 1 0 0;
  border-radius: 999px;
  border: 1px solid #000;
  background: #000;
  display: flex;
  max-width: 120px;
  height: 40px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #F6F6F6;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}
.commandFooter .centerPanel {
  border-radius: 9999px;
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  padding: 14px 24px;
  align-items: flex-start;
  justify-content: center;
  gap: 2px 24px;
}
.commandFooter .centerPanel .spine {
  color: rgba(0, 0, 0, 0.8);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.commandFooter .centerPanel .value {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-left: -16px;
  min-width: 50px;
}
.commandFooter .centerPanel .guide {
  color: #4C79F4;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.bindingStyle {
  padding: 0px 20px;
  max-width: 928px;
  margin: 0 auto;
  margin-top: 78px;
  width: 100%;
}
.bindingStyle h2 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-bottom: 32px;
}
.bindingStyle ul {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.bindingStyle ul li {
  cursor: pointer;
  display: flex;
  width: 216px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
.bindingStyle ul li:hover {
  font-weight: 500;
}
.bindingStyle ul li:hover .imgWrap {
  opacity: 1;
  border: 3px solid #4C79F4;
}
.bindingStyle ul li:hover .imgWrap img {
  transform: scale(1.05);
  filter: grayscale(0);
}
.bindingStyle ul li .imgWrap {
  aspect-ratio: 1/1;
  opacity: 0.8;
  box-sizing: border-box;
  border: 3px solid transparent;
  overflow: hidden;
}
.bindingStyle ul li .imgWrap img {
  transition: 0.2s ease-in-out;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(0.5);
}

#nav-tabContent .stepName {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-bottom: 40px;
}
#nav-tabContent .conWrap {
  padding: 0 20px;
  display: flex;
  gap: 20px;
  width: 100%;
}
#nav-tabContent .conWrap .side .accordion {
  display: flex;
  width: 309px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  box-sizing: border-box;
}
#nav-tabContent .conWrap .side .accordion-item {
  width: 100%;
}
#nav-tabContent .conWrap .side .accordion-button::after {
  display: none;
}
#nav-tabContent .conWrap .side .accordion-button {
  transition: none;
  border-radius: 4px;
  background: radial-gradient(54.1% 81.63% at 49.84% 100%, #7FC6FF 0%, #5A7EE9 100%);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.05);
  color: #FFF;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.28px;
  padding: 16px;
}
#nav-tabContent .conWrap .side .accordion-button.collapsed {
  border-radius: 4px;
  background: #FFF;
  background: #fff;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.28px;
}
#nav-tabContent .conWrap .side .accordion-item {
  background-color: transparent;
  border: 0;
}
#nav-tabContent .conWrap .side .accordion-body {
  display: flex;
  padding: 8px 8px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
#nav-tabContent .conWrap .side .accordion-body .inputMsg {
  margin: 0;
}
#nav-tabContent .conWrap .side .accordion-body .flex {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
#nav-tabContent .conWrap .side label {
  width: 100%;
}
#nav-tabContent .conWrap .optionDetail {
  max-width: 560px;
  margin: 0 auto;
}
#nav-tabContent .conWrap .optionDetail p {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.32px;
}
#nav-tabContent .conWrap .optionDetail .detailImg {
  text-align: center;
  margin-top: 40px;
}
#nav-tabContent .conWrap .optionDetail .detailImg img {
  width: 100%;
  max-width: 345px;
}/*# sourceMappingURL=style.css.map */